---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About Us | VARN Gaming">
  <h2 class="text-4xl font-bold text-white text-center mb-8">About VARN Gaming</h2>
  <div class="bg-gray-800 rounded-xl shadow-xl border border-gray-700 p-8 max-w-4xl mx-auto">
      <p class="text-lg text-gray-300 mb-4">
          Our mission is to be your go-to source for all things gaming. We are a platform that caters to the diverse needs of the gaming community, offering everything from the latest news and in-depth reviews to engaging tutorials and vibrant community discussions.
      </p>
      <p class="text-lg text-gray-300">
          We believe a strong, supportive community enhances the overall gaming experience, and we are committed to fostering a welcoming and inclusive environment for all gamers. Welcome to the community—let the games begin!
      </p>
  </div>
</Layout>
